[submodule "gruvbox-material-ghostty"]
	path = gruvbox-material-ghostty
	url = git@github.com:vlanx/gruvbox-material-ghostty.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:rafkhan/kickstart.nvim.git
